flow_3.json
[
    {
        "id": "dd02abe7ed813ce9",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "803885d460669c4b",
        "type": "inject",
        "z": "dd02abe7ed813ce9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Texto de prueba",
        "payloadType": "str",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "3e915b41740eff20"
            ]
        ]
    },
    {
        "id": "4d4d58ba42a4aaed",
        "type": "inject",
        "z": "dd02abe7ed813ce9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "2eb8f14574b05b58",
                "8f3f5e3a8fe7d1f8"
            ]
        ]
    },
    {
        "id": "20a07cdb34befde6",
        "type": "inject",
        "z": "dd02abe7ed813ce9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "8f3f5e3a8fe7d1f8",
                "2eb8f14574b05b58"
            ]
        ]
    },
    {
        "id": "3e04b95447100bcd",
        "type": "inject",
        "z": "dd02abe7ed813ce9",
        "name": "10",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "8f3f5e3a8fe7d1f8",
                "2eb8f14574b05b58"
            ]
        ]
    },
    {
        "id": "3e915b41740eff20",
        "type": "ui_text",
        "z": "dd02abe7ed813ce9",
        "group": "8603b033d8cd9b8c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Texto de pruebba - label",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 530,
        "y": 120,
        "wires": []
    },
    {
        "id": "2eb8f14574b05b58",
        "type": "ui_gauge",
        "z": "dd02abe7ed813ce9",
        "name": "",
        "group": "ce0b21c96096d31a",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 470,
        "y": 180,
        "wires": []
    },
    {
        "id": "8f3f5e3a8fe7d1f8",
        "type": "ui_chart",
        "z": "dd02abe7ed813ce9",
        "name": "",
        "group": "ce0b21c96096d31a",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "8603b033d8cd9b8c",
        "type": "ui_group",
        "name": "Texto - Group 1",
        "tab": "2d208f4e6ee6d753",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ce0b21c96096d31a",
        "type": "ui_group",
        "name": "Graficos - Group 2",
        "tab": "2d208f4e6ee6d753",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2d208f4e6ee6d753",
        "type": "ui_tab",
        "name": "Flow 3 - Tab",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]